/*styles.css*/
/*-----Variables and mixins-----*/
/*Fonts*/
/*Colors*/
/*Font sizes*/
/*Font weights*/
/*Spacing*/
/*Border styles*/
/*Border radii*/
/*Layout and grid*/
/*Animations and transitions*/
/*-----Normal, boring stuff-----*/
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #444444;
  padding: 0 32px 0 32px;
  background: #fdfdfd;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  animation: fadein 1s; }

h1, h2, h3 {
  font-size: 3.998em;
  font-weight: 800;
  color: #222222;
  letter-spacing: -0.02em;
  margin: 0 0 8px -4px;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s eas e-in-out;
  transition: 0.2s ease-in-out; }

h2 {
  font-size: 1.999em;
  margin: 0 0 32px 0; }

h3 {
  font-size: 1.4143em;
  margin: 32px 0 16px 0; }

p, a {
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0 16px 0;
  max-width: 640px;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s eas e-in-out;
  transition: 0.2s ease-in-out; }

strong {
  font-weight: 800; }

/*-----Picture stuff-----*/
figure {
  margin: 0 0 64px 0; }

img {
  width: 100%;
  margin: 0 0 16px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

/*-----Link stuff-----*/
a {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #E52B50;
  -o-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s eas e-in-out;
  transition: 0.1s ease-in-out;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px; }

a:hover, a:focus, .work-list a:focus {
  color: #ffffff;
  background-color: #c5183b; }

/*-----Stuff that slightly modifies the boring stuff-----*/
#about-header {
  margin: 0 0 64px; }

.caption {
  font-size: 0.707em; }

.subtitle {
  font-size: 1.4143em;
  max-width: none;
  margin: 0 0 128px 0; }

.subtitle-h3 {
  margin: -16px 0 16px 0; }

/*-----Things for the part with all the links-----*/
nav a {
  display: inline-block;
  margin: 0 16px 0 0;
  color: #222222;
  border-bottom: none; }
nav a:hover, nav a:focus, nav .work-list a:focus, .work-list nav a:focus {
  border-bottom: 4px solid #c5183b; }
nav a:focus {
  border-bottom: 4px solid #c5183b; }

header {
  padding: 32px 0 0 0;
  margin: 0 0 128px 0; }
  header a {
    line-height: 32px; }

.active-page {
  border-bottom: 4px solid #E52B50;
  border: inside; }

/*The logo part*/
a.logo {
  font-size: 1.4143em;
  font-weight: 800;
  margin: 0 32px 0 0; }

a.logo:hover, a.logo:focus {
  color: #555555;
  border-bottom: none;
  background-color: #fdfdfd; }

/*-----Things for the part where most of the writing is----*/
section {
  padding: 0 0 64px 0;
  margin: 0 0 64px 0;
  border-bottom: 1px solid #bbbbbb; }
  section h2 {
    max-width: 640px; }

.work-list {
  list-style-type: none; }
  .work-list a {
    font-weight: 600;
    color: #222222; }
  .work-list a:hover, .work-list a:focus {
    color: #ffffff; }

.disclaimer {
  font-size: 0.707em;
  padding: 16px;
  border: 2px solid #E52B50;
  margin: 0 0 64px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.weak {
  color: #555555; }

/*-----Footnotes-----*/
.footnote {
  position: relative;
  vertical-align: baseline; }

.footnoteNumber {
  vertical-align: super;
  font-size: .7em;
  color: #E52B50;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #E52B50; }

.footnoteText {
  font-size: .7em;
  line-height: 1.75em;
  display: block;
  width: 200px;
  position: absolute;
  left: 25px;
  bottom: 5px;
  border: 1px solid #222222;
  padding: 10px;
  background-color: #fff;
  z-index: 100;
  overflow: auto;
  margin: 0 0 0 0; }

/*-----Footer stuff-----*/
footer {
  margin: 16px 0 64px 0; }
  footer a {
    font-weight: 800;
    color: #222222;
    border-bottom: 4px solid #fdfdfd; }

.copyright {
  font-size: 0.707em;
  margin: 8px 0 0 0; }
  .copyright a {
    font-weight: 400;
    border-bottom: 1px solid #E52B50; }

/*-----Stuff that hopefully makes the animations work-----*/
/*-Stuff that makes the page fade in-*/
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*-----Stuff that makes the site not too ugly on very big or very small screens-----*/
@media (max-width: 768px) {
  body {
    padding: 0 8px 0 8px; } }
@media (max-width: 480px) {
  body {
    font-size: 16px; }

  h1, h2, h3 {
    font-size: 2.827em;
    font-weight: 800; }

  #about-header {
    margin: 0 0 32px; }

  h2 {
    font-size: 1.4143em;
    margin: 0 0 32px 0; }

  .subtitle {
    font-size: 1em;
    margin: 0 0 64px 0; }

  h3 {
    font-size: 1em; } }
