/*Grays - [DEPRECATED]*/
/* gray */
/*Primary Colors*/
/*Accent Colors*/
/*Font*/
/*Font sizes*/
/*Font weights*/
/*Line heights*/
/*Spacing*/
/*Border styles*/
/*Animations and transitions*/
/*-----Stuff that hopefully makes the animations work-----*/
/*-Stuff that makes the page fade in-*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul {
  list-style-type: disc;
  list-style-position: oustide;
  line-height: 1.7em;
  margin-left: 32px;
}

li {
  margin-bottom: 16px;
}

.list-short li {
  margin-left: -16px;
  margin-bottom: 4px;
}

figure {
  margin: 0 0 64px 0;
}

img {
  width: 100%;
  margin: 0 0 16px 0;
  border: none;
}

.case-study-img {
  clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 40px, 100% 100%, 40px 100%, 0 calc(100% - 40px));
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.case-study-hero {
  margin-bottom: 64px;
}

figcaption {
  font-size: 0.707em;
  line-height: 1.5em;
}

.figure-image-container {
  display: block;
}

.work-list {
  list-style-type: none;
}
.work-list h3 {
  margin-bottom: 4px;
}
.work-list p, .work-list a {
  margin-top: 4px;
  line-height: 1.4em;
}
.work-list li {
  margin-left: -32px;
  font-weight: 700;
}
.work-list a {
  font-weight: 700;
  color: hsl(194.33, 0%, 88.76%);
  border: none;
}

.masthead {
  padding-bottom: 64px;
  margin-bottom: 64px;
}

.hero-text-h {
  font-size: 3.998em;
  margin-bottom: 16px;
}

.hero-text {
  font-size: 1.999em;
  font-weight: 700;
  line-height: 1.4em;
  max-width: 100%;
}

.subtitle {
  font-size: 1.4143em;
  font-weight: 300;
  line-height: 1.4em;
  max-width: none;
  margin: 0 0 32px 0;
}

.project-details h2 {
  font-size: 1.4143em;
}
.project-details h3 {
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 8px;
}
.project-details p, .project-details a {
  font-size: 0.707em;
}
.project-details li {
  font-size: 0.707em;
  line-height: 1.2em;
  font-family: "JetBrains Mono", "Courier", Helvetica, Arial, mono;
}

header {
  padding: 128px 0 0 0;
  margin: 0 0 64px 0;
}
header a, header a:focus, header a.logo:focus {
  line-height: 32px;
}

.site-nav {
  font-family: "JetBrains Mono", "Courier", Helvetica, Arial, mono;
}

/*Temorarily adjusting the color this way until I get around to properly changing the svg*/
.logo, a.logo:focus {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

a.logo, a.logo:focus {
  font-size: 1.4143em;
  font-weight: 800;
  margin: 0 32px 0 0;
}

a.logo:hover, a.logo:focus {
  border-bottom: none;
  background-color: hsl(194.33, 0%, 13.15%);
}

.index-header {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.logo img, a.logo:focus img {
  background-color: transparent;
  padding: 0 0 0 0;
  margin: 0 0 -4px 0;
  border-radius: 0;
}

/* The part that shows how to pronounce my name */
footer {
  margin: 16px 0 0 0;
  padding: 64px 0 64px 0;
}
footer .social-links {
  margin: 0 0 8px -8px;
}
footer .social-links a {
  padding: 0 8px 0 8px;
  font-family: "JetBrains Mono", "Courier", Helvetica, Arial, mono;
}

.copyright {
  font-size: 0.707em;
  margin: 8px 0 0 0;
}
.copyright a {
  font-weight: 400;
  border-bottom: 1px solid hsl(194.33, 0%, 88.76%);
  color: hsl(194.33, 0%, 96.6%);
}

/*-----Stuff that makes the site not too ugly on very big or very small screens-----*/
/*Breakpoints*/
@media (max-width: 768px) {
  body {
    padding: 0 8px 0 8px;
  }
  #about-image {
    border: 8px solid white;
    border-radius: 256px;
    display: block;
    margin: 64px auto 0 auto;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
  .hero-text {
    font-size: 1.4143em;
    line-height: 1.4em;
  }
  h1, h2, h3, h4 {
    font-size: 2.827em;
    font-weight: 800;
    line-height: 1.1em;
  }
  #about-header {
    margin: 0 0 32px;
  }
  h2 {
    font-size: 1.4143em;
    margin: 0 0 32px 0;
  }
  .subtitle {
    font-size: 1em;
    margin: 0 0 32px 0;
    line-height: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 0.8em;
  }
  .masthead {
    margin-bottom: 64px;
    padding-bottom: 32px;
  }
  p, a, a:focus {
    margin-bottom: 16px;
  }
  section {
    margin-bottom: 8px;
  }
  blockquote p, blockquote a, blockquote a:focus {
    padding-left: 16px;
    font-size: 1em;
  }
}
/*-----Normal, boring stuff-----*/
html {
  background-color: #111;
}

body {
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: hsl(194.33, 0%, 88.76%);
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  animation: fadein 1s;
}

.skip-main {
  left: -999px;
  position: absolute;
  z-index: -999;
}

/*Selection*/
::selection {
  background: hsl(194.33, 0%, 96.6%);
  color: hsl(194.33, 0%, 13.15%);
}

::-moz-selection {
  background: hsl(194.33, 0%, 96.6%);
  color: hsl(194.33, 0%, 13.15%);
}

::-webkit-selection {
  background: hsl(194.33, 0%, 96.6%);
  color: hsl(194.33, 0%, 13.15%);
}

h1, h4, h3, h2 {
  font-size: 2.827em;
  font-weight: 800;
  line-height: 1.2em;
  margin: 0 0 16px 0;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

h2 {
  font-size: 1.999em;
  margin: 0 0 8px 0;
}

h3 {
  font-size: 1.999em;
  margin: 32px 0 24px 0;
}

h4 {
  font-size: 1.4143em;
  margin: 32px 0 16px 0;
}

p, a, a:focus {
  font-weight: 300;
  line-height: 1.7em;
  margin: 0 0 16px 0;
  max-width: 640px;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

strong, b {
  font-weight: 800;
}

em {
  font-style: italic;
}

/*-----Link stuff-----*/
a, a:focus {
  text-decoration: none;
  border-bottom: 1px solid hsl(194.33, 0%, 88.76%);
  color: hsl(194.33, 0%, 88.76%);
  -o-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
}

a:hover, a:focus {
  background-color: hsl(194.33, 0%, 88.76%);
  border-bottom: 1px solid hsl(194.33, 0%, 88.76%);
  color: hsl(194.33, 0%, 13.15%);
}

a:focus {
  outline: 0;
  color: hsl(194.33, 0%, 13.15%);
}

li {
  line-height: 1.7em;
}

.skip-main:focus, .skip-main:active {
  left: auto;
  top: 8px;
  overflow: auto;
  z-index: 999;
  background-color: hsl(194.33, 0%, 88.76%);
  color: hsl(194.33, 0%, 13.15%);
  padding: 16px;
}

/*-----Things for the part with all the links-----*/
nav a, nav a:focus {
  display: inline-block;
  margin: 0 16px 0 0;
  color: hsl(194.33, 0%, 88.76%);
  border-bottom: none;
  padding: 0 8px 0 8px;
}
nav a:hover, nav a:focus {
  border-bottom: none;
  color: hsl(194.33, 0%, 13.15%);
}
nav a:focus {
  border-bottom: none;
  outline: 0;
  color: hsl(194.33, 0%, 13.15%);
}
