// _colors.scss

/////*Colors*//////

/*Grays - [DEPRECATED]*/
$gray-10: hsl(216, 33%, 97%);
$gray-20: hsl(216, 33%, 94%);
$gray-40: hsl(218, 28%, 83%);
$gray-80: hsl(218, 11%, 39%);
$gray-100: hsl(217, 11%, 23%);

/* gray */
$gray-1: hsl(194.33, 0%, 96.6%);
$gray-2: hsl(194.33, 0%, 88.76%);
$gray-3: hsl(194.33, 0%, 54.65%);
$gray-4: hsl(194.33, 0%, 43.69%);
$gray-5: hsl(194.33, 0%, 24.13%);
$gray-6: hsl(194.33, 0%, 13.15%);

/*Primary Colors*/
$primary-30: hsl(217, 93%, 83%);
$primary-50: hsl(217, 84%, 64%);
$primary-60: hsl(217, 69%, 52%);
$primary-70: hsl(217, 74%, 43%);
$primary-90: hsl(217, 75%, 25%);

/*Accent Colors*/
$accent-70: rgb(207, 70, 21);

$accent-orange: #CC4E00;
$accent-orange-dm: #FFA057;