// _layout.scss

/*Spacing*/
$spacing-xx-large: 128px;
$spacing-x-large: 64px;
$spacing-large: 32px;
$spacing-medium: 16px;
$spacing-small: 8px;
$spacing-x-small: 4px;
$spacing-xx-small: 2px;

/*Breakpoints*/
$grid-mobile-small: 240px;
$grid-mobile-large: 320px;
$grid-tablet-small: 480px;
$grid-tablet-large: 768px;