// _projectDetails.scss

@use 'type';
@use 'layout';

.project-details {

	h2{
		font-size: type.$font-size-large;
	}

	h3{
		font-size: type.$font-size-regular;
		margin-top: layout.$spacing-medium;
		margin-bottom: layout.$spacing-small;
	}

	p{
		font-size: type.$font-size-small;
	}

	li{
		font-size: type.$font-size-small;
		line-height: type.$line-height-x-small;
	}


}