/*styles.css*/
@use 'colors';

/*-----Variables and mixins-----*/

/////*Typography*/////

/*Fonts*/
$font-stack: "Public Sans", Helvetica, Arial, sans-serif;

/*Font sizes*/
$font-size-xxx-large: 3.998em;
$font-size-xx-large: 2.827em;
$font-size-x-large: 1.999em;
$font-size-large: 1.4143em;
$font-size-regular: 1em;
$font-size-small: 0.707em;

/*Font weights*/
$font-weight-x-bold: 800;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;

/*Line heights*/
$line-height-x-small: 1em;
$line-height-small: 1.2em;
$line-height-medium: 1.5em;
$line-height-large: 2em;

/////*Layout*/////

/*Spacing*/
$spacing-xx-large: 128px;
$spacing-x-large: 64px;
$spacing-large: 32px;
$spacing-medium: 16px;
$spacing-small: 8px;
$spacing-x-small: 4px;
$spacing-xx-small: 2px;

/*Border styles*/
$border-link: 1px solid colors.$gray-2;
$border-link-hover: 2px solid colors.$primary-70;
$border-link-large: 4px solid colors.$primary-70;
$border-link-large-hover: 4px solid darken(colors.$primary-70, 10%);

/*Border radii*/
@mixin border-radius($radius){
 	-webkit-border-radius: $radius;
 	-moz-border-radius: $radius;
  	-ms-border-radius: $radius;
  	border-radius: $radius;
}

/*Layout and grid*/
$grid-mobile-small: 240px;
$grid-mobile-large: 320px;
$grid-tablet-small: 480px;
$grid-tablet-large: 768px;

/*Animations and transitions*/
//Makes it so that the page fades in all smooth like.
@mixin fadein($time){
	-webkit-animation: fadein $time;
	-o-animation: fadein $time;
	-moz-animation: fadein $time;
	-ms-animation: fadein $time;
	animation: fadein $time;
}

//Makes it so that elements change all smooth like.
@mixin ease-in-out($time){
	-o-transition: $time ease-in-out;
  	-ms-transition: $time ease-in-out;
  	-moz-transition: $time ease-in-out;
  	-webkit-transition: $time ease-in-out;
  	transition: $time ease-in-out;
}

/*-----Normal, boring stuff-----*/

html{
	background-color: colors.$gray-6;
}

body{
	font-family: $font-stack;
	font-size: 18px;
	color: colors.$gray-2;
	// background-image: url('../img/general/background-noise.png');
	@include fadein(1s);
	// border-top: 2px solid colors.$primary-70;
}

.skip-main{
	left: -999px;
	position: absolute;
	z-index: -999;
}

/*Selection*/

::selection {
background:colors.$primary-30;
color: colors.$gray-100;
}

::-moz-selection {
background:colors.$primary-30;
color: colors.$gray-100;
}

::-webkit-selection {
background:colors.$primary-30;
color: colors.$gray-100;
}

h1{
	font-size: $font-size-xxx-large;
	font-weight: $font-weight-x-bold;
	margin: 0 0 $spacing-small -4px;
	@include ease-in-out(.2s);
}

h2{
	@extend h1;
	// letter-spacing: inherit;
	font-size: $font-size-xx-large;
	margin:0 0 $spacing-large 0;
	padding-bottom: $spacing-small;
}

h3{
	@extend h1;
	font-size: $font-size-x-large;
	margin: $spacing-large 0 $spacing-medium+$spacing-small 0;
}

h4{
	@extend h1;
	font-size: $font-size-large;
	margin: $spacing-large 0 $spacing-medium 0;
}

p{
	font-weight: $font-weight-light;
	line-height: 1.7em;
	margin:0 0 $spacing-medium 0;
	max-width: 640px;
	@include ease-in-out(.2s);
}

strong{
	font-weight: $font-weight-x-bold;
}

b{
	@extend strong;
}

/*-----Link stuff-----*/

a{
	@extend p;
	text-decoration: none;
  	border-bottom: 1px solid colors.$gray-2;
  	// padding-bottom: -8px;
	@include ease-in-out(.1s);
	@include border-radius(1px);
}

a:hover{
	background-color: colors.$gray-2;
	border-bottom: 1px solid colors.$gray-2;
	//border-bottom: 1px solid colors.$primary-30;
	color: colors.$gray-6;
}

a:focus{
	@extend a, :hover;
	outline: 0;
	// outline-radius: 1px;
	// outline-offset: 6px;
	color: colors.$gray-6;

}

.skip-main:focus, .skip-main:active{
	left: auto;
	top: $spacing-small;
	overflow: auto;
	z-index: 999;
	background-color: colors.$gray-2;
	color: colors.$gray-6;
	padding: $spacing-medium;	
}

.masthead{
	// background-color: colors.$gray-20;
	padding-bottom: $spacing-x-large;
	margin-bottom: $spacing-x-large;
	// border-bottom: 1px solid rgb(200, 209, 224);
}

.hero-text-h{
	font-size: $font-size-xxx-large;
	margin-bottom: $spacing-medium;
}

.hero-text{
	font-size: $font-size-x-large;
	font-weight: $font-weight-bold;
	line-height: $line-height-small;
	max-width: 100%;
}

/* The part that shows how to pronounce my name */

// .hero-text-h:hover span{
//   display: none;
// }

// .hero-text-h:hover:after{
// 	content: '(loot-grr).';
// }

.social-links{
	margin: $spacing-x-large 0 -$spacing-small 0;
}

.social-links a{
	font-weight: bold;
	padding: 0 $spacing-small 0 $spacing-small;
}



/*-----Things for the part with all the links-----*/
nav{
	a{
		display: inline-block;
		margin:0 $spacing-medium 0 0;
		color:colors.$gray-2;
		border-bottom: none;
	}

	a:hover{
		border-bottom: none;
		color: colors.$gray-6;
	}	

	a:focus{
		border-bottom: none;
		outline: 0;
		// outline-offset: 2px;
		color: colors.$gray-6;
	}
}

header{
	padding: $spacing-xx-large 0 0 0;
	margin: 0 0 $spacing-x-large 0;

	a{
		line-height: $spacing-large;
	}


}

/*The logo part*/

/*Temorarily adjusting the color this way until I get around to properly changing the svg*/
.logo{
  	-webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}

a.logo{
	font-size: $font-size-large;
	font-weight: $font-weight-x-bold;
	margin: 0 $spacing-large 0 0;
}

a.logo:hover{
		color: lighten(colors.$gray-100, 20%);
		border-bottom: none;
		background-color: colors.$gray-6;
	}

a.logo:focus{
		@extend a, .logo, :hover;
	}

.index-header{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

.logo img{
	background-color: transparent;
	padding: 0 0 0 0;
	margin: 0 0 -4px 0;
	border-radius: 0;
}

/*-----Footer stuff-----*/

footer{
	margin: $spacing-medium 0 0 0;
	// border-top: 1px solid rgb(200, 209, 224);
	padding: $spacing-x-large 0 $spacing-x-large 0;
	// background-color: colors.$gray-20;

	a{
		font-weight: $font-weight-x-bold;
		color: colors.$gray-2;
	}
}

.copyright{
	font-size: $font-size-small;
	margin: $spacing-small 0 0 0;

	a{
		font-weight: $font-weight-regular;
		border-bottom: $border-link;
	}
}

/*-----Stuff that hopefully makes the animations work-----*/

/*-Stuff that makes the page fade in-*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*-----Stuff that makes the site not too ugly on very big or very small screens-----*/

@media (max-width: $grid-tablet-large){
	body{
		padding: 0 $spacing-small 0 $spacing-small;
	}

	#about-image{
		border: 8px solid white;
		border-radius: 256px;
		display: block;
		margin: $spacing-x-large auto 0 auto;
	}
}

@media (max-width: $grid-tablet-small){
	body{
		font-size: 16px;
	}

	.hero-text{
		font-size: $font-size-large;
		line-height: $line-height-small;
	}

	h1{
		font-size: $font-size-xx-large;
		font-weight: $font-weight-x-bold;
		line-height: 1.1em;
	}

	#about-header{
		margin: 0 0 $spacing-large;
	}

	h2{
		font-size: $font-size-large;
		margin:0 0 $spacing-large 0;
	}

	.subtitle{
		font-size: $font-size-regular;
		margin: 0 0 $spacing-large 0;
		line-height: 1.5em;
	}

	h3{
		font-size: $font-size-regular;
	}

	h4{
		font-size: 0.8em;
	}

	.masthead{
		margin-bottom: $spacing-x-large;
		padding-bottom: $spacing-large;
	}

	p{
		margin-bottom: $spacing-medium;
	}

	section{
		margin-bottom: $spacing-small;
	}

	blockquote{

		p{
			padding-left: $spacing-medium;
			font-size: $font-size-regular;
		}
	}
}