/*styles.css*/

/*-----Variables and mixins-----*/

/*Fonts*/
$open-sans: "Open Sans", Helvetica, Arial, sans-serif;
$lato: "Lato", Helvetica, Arial, sans-serif;

/*Colors*/
$white: #fdfdfd;
$mine-shaft: #333333;
$lochmara: #0071BC;

/*Font sizes*/
$font-size-xxx-large: 3.998em;
$font-size-xx-large: 2.827em;
$font-size-x-large: 1.999em;
$font-size-large: 1.4143em;
$font-size-regular: 1em;
$font-size-small: 0.707em;

/*Font weights*/
$font-weight-x-bold: 800;
$font-weight-bold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

/*Spacing*/
$spacing-xx-large: 128px;
$spacing-x-large: 64px;
$spacing-large: 32px;
$spacing-medium: 16px;
$spacing-small: 8px;
$spacing-x-small: 4px;
$spacing-xx-small: 2px;

/*Border styles*/
$border-link: 1px dotted $lochmara;
$border-link-hover: 1px solid darken($lochmara, 10%);
$border-link-large: 4px solid $lochmara;
$border-link-large-hover: 4px solid darken($lochmara, 10%);

/*Border radii*/
@mixin border-radius($radius){
 	-webkit-border-radius: $radius;
 	-moz-border-radius: $radius;
  	-ms-border-radius: $radius;
  	border-radius: $radius;
}

/*Layout and grid*/
$grid-mobile-small: 240px;
$grid-mobile-large: 320px;
$grid-tablet-small: 480px;
$grid-tablet-large: 768px;

/*Animations and transitions*/
//Makes it so that the page fades in all smooth like.
@mixin fadein($time){
	-webkit-animation: fadein $time;
	-o-animation: fadein $time;
	-moz-animation: fadein $time;
	-ms-animation: fadein $time;
	animation: fadein $time;
}

//Makes it so that elements change all smooth like.
@mixin ease-in-out($time){
	-o-transition: $time ease-in-out;
  	-ms-transition: $time ease-in-out;
  	-moz-transition: $time ease-in-out;
  	-webkit-transition: $time eas e-in-out;
  	transition: $time ease-in-out;
}

/*-----Normal, boring stuff-----*/

body{
	font-family: $open-sans;
	font-size: 18px;
	color: $mine-shaft;
	padding: 0 $spacing-large 0 $spacing-large;
	background: $white;
	@include fadein(1s);
}

h1{
	font-family: $lato;
	font-size: $font-size-xxx-large;
	font-weight: $font-weight-x-bold;
	margin: 0 0 $spacing-small 0;
	@include ease-in-out(.2s);
}

h2{
	@extend h1;
	font-size: $font-size-x-large;
	margin:0 0 $spacing-large 0;
}

h3{
	@extend h1;
	font-size: $font-size-large;
	margin: $spacing-large 0 $spacing-medium 0;
}

p{
	font-weight: $font-weight-regular;
	line-height: 1.6em;
	margin:0 0 $spacing-medium 0;
	max-width: 640px;
	@include ease-in-out(.2s);
}

strong{
	font-weight: $font-weight-x-bold;
}

/*-----Picture stuff-----*/

figure{
	margin: 0 0 $spacing-x-large 0;
}

img{
	width: 100%;
	margin: 0 0 $spacing-medium 0;
}

/*-----Link stuff-----*/

a{
	@extend p;
	color: $lochmara;
	text-decoration: none;
  	border-bottom: $border-link;
	@include ease-in-out(.1s);
}

a:hover{
	color: darken($lochmara, 10%);
	border-bottom: $border-link-hover;
}

a:focus{
	color: darken($lochmara, 10%);
	border-bottom: $border-link-hover;
}


/*-----Stuff that slightly modifies the boring stuff-----*/

#about-header{
	margin: 0 0 $spacing-x-large;
}

.caption{
	font-size: $font-size-small;
}

.subtitle{
	font-size: $font-size-large;
	max-width: none;
	margin: 0 0 $spacing-xx-large 0;
}

.subtitle-h3{
	margin: -$spacing-medium 0 $spacing-medium 0;
}

/*-----Things for the part with all the links-----*/
nav{
	a{
		display: inline-block;
		margin:0 $spacing-medium 0 0;
		color:$mine-shaft;
		border-bottom: none;
	}	

	a:hover{
		border-bottom: $border-link-large-hover;
	}

	a:focus{
		border-bottom: $border-link-large-hover;
	}
}

header{
	padding: $spacing-large 0 0 0;
	margin: 0 0 $spacing-xx-large 0;

	a{
		line-height: $spacing-large;
	}
}

.active-page{
	border-bottom: $border-link-large;
	border: inside;
}

/*The logo part*/

a.logo{
	font-size: $font-size-large;
	font-weight: $font-weight-x-bold;
}

a.logo:hover{
		color: lighten($mine-shaft, 20%);
		border-bottom: none;
	}

a.logo:focus{
		color: lighten($mine-shaft, 20%);
		border-bottom: none;
	}

/*-----Things for the part where most of the writing is----*/

section{
	padding: 0 0 $spacing-x-large 0;
	margin: 0 0 $spacing-x-large 0;
	border-bottom: 1px solid lighten($mine-shaft, 60%);


	h2{
		max-width: 640px;
	}
}

.work-list{
	list-style-type: none;

	a{
		font-weight: $font-weight-x-bold;
	}
}

.disclaimer{
	font-size: $font-size-small;
	padding: $spacing-medium;
	border: 2px solid $lochmara;
	margin: 0 0 $spacing-x-large 0;
	@include border-radius(2px);
}

/*-----Footnotes-----*/

.footnote{
	position: relative;
	vertical-align: baseline;
}

.footnoteNumber{
	vertical-align: super;
	font-size:.7em;
	color: $lochmara;
	position: relative;
    cursor: pointer;
    border-bottom: $border-link
}

.footnoteText{
    font-size: .7em;
    line-height: 1.75em;
    display: block;
    width: 200px;
    position: absolute;
    left: 25px;
    bottom: 5px;
    border: 1px solid $mine-shaft;
    padding: 10px;
    background-color: #fff;
    z-index: 100;
    overflow: auto;
    margin:0 0 0 0;
}

/*-----Footer stuff-----*/

footer{
	margin: $spacing-medium 0 $spacing-x-large 0;

	a{
		font-weight: $font-weight-x-bold;
		color: $mine-shaft;
		border-bottom: 4px solid $white;
	}
}

.copyright{
	font-size: $font-size-small;
	margin: $spacing-small 0 0 0;

	a{
		font-weight: $font-weight-regular;
		border-bottom: $border-link;
	}
}

/*-----Stuff that hopefully makes the animations work-----*/

/*-Stuff that makes the page fade in-*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*-----Stuff that makes the site not too ugly on very big or very small screens-----*/

@media (max-width: $grid-tablet-large){
	body{
		padding: 0 $spacing-small 0 $spacing-small;
	}
}

@media (max-width: $grid-tablet-small){
	body{
		font-size: 16px;
	}

	h1{
		font-size: $font-size-xx-large;
		font-weight: $font-weight-x-bold;
	}

	#about-header{
		margin: 0 0 $spacing-large;
	}

	h2{
		font-size: $font-size-large;
		margin:0 0 $spacing-large 0;
	}

	.subtitle{
		font-size: $font-size-regular;
		margin: 0 0 $spacing-x-large 0;
	}

	h3{
		font-size: $font-size-regular;
	}
}