/*styles.css*/
/*-----Variables & Mixins-----*/
/*Fonts*/
/*Background & Container Colors*/
/*Text Colors*/
/*Link Colors*/
/*Styles*/
/*Animations & Transitions*/
/*-----Normal, Boring Stuff-----*/
body {
  color: #585858;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #FDFDFD;
  background-size: cover;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  animation: fadein 2s; }

h1 {
  font-weight: 800;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 50px;
  height: 50px;
  font-size: 2.25em;
  margin: 150px 0 40px 0;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s eas e-in-out;
  transition: 0.2s ease-in-out; }

p {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 30px 0;
  line-height: 1.75em;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s eas e-in-out;
  transition: 0.2s ease-in-out; }

i {
  font-style: italic; }

/*-----Links-----*/
a {
  color: #111111;
  text-decoration: none;
  font-weight: 400;
  -o-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s eas e-in-out;
  transition: 0.1s ease-in-out;
  border-bottom: 1px solid rgba(107, 107, 107, 0.4); }

a:hover {
  color: #07A4B0;
  border-bottom: 1px solid #07A4B0; }

a:focus {
  color: #07A4B0;
  border-bottom: 1px solid #07A4B0; }

a.blue:hover {
  color: #07A4B0;
  border-bottom: 1px solid #07A4B0; }

a.green:hover {
  color: #79BA50;
  border-bottom: 1px solid #79BA50; }

a.orange:hover {
  color: #E89530;
  border-bottom: 1px solid #E89530; }

a.magenta:hover {
  color: #CC2F6E;
  border-bottom: 1px solid #CC2F6E; }

a.blue:focus {
  color: #07A4B0;
  border-bottom: 1px solid #07A4B0; }

a.green:focus {
  color: #79BA50;
  border-bottom: 1px solid #79BA50; }

a.orange:focus {
  color: #E89530;
  border-bottom: 1px solid #E89530; }

a.magenta:focus {
  color: #CC2F6E;
  border-bottom: 1px solid #CC2F6E; }

/*-----Things That I Only Use on the Home Page-----*/
.home .imageSection {
  margin-bottom: 0px; }

.boxForFlex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/*-----Things for the Part Where I Introduce Myself-----*/
.greeting {
  text-align: center;
  margin: 0 0 60px 0;
  display: block; }
  .greeting h1 {
    margin: 50px 0 10px 0; }
  .greeting p {
    margin: 0 0 0 0; }
  .greeting .footnoteText {
    text-align: left; }

/*-----Things for the Part With All the Links-----*/
nav {
  text-align: center; }
  nav a {
    font-weight: 700;
    margin: 0 20px 0 20px;
    color: #585858; }

/*-----Things for the Big Picture That Starts Most Pages (Coming Soon)-----*/
/*-----Things for the Part Where I Write a Bunch----*/
section {
  max-width: 640px;
  margin: auto; }

.textSection, .imageSection {
  margin-bottom: 75px; }

.tallImage, .smallImage {
  max-width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.smallImage {
  max-width: 200px; }

.imageSection {
  max-width: 1000px; }
  .imageSection img {
    width: 100%; }
  .imageSection p {
    font-size: .8em;
    max-width: 640px;
    margin: auto;
    margin-top: 10px;
    text-align: center; }

.notesSection {
  font-size: .8em; }

/*-----Footnotes-----*/
.footnote {
  position: relative;
  vertical-align: baseline; }

.footnoteNumber {
  vertical-align: super;
  font-size: .7em;
  color: #111111;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgba(107, 107, 107, 0.4); }

.footnoteText {
  font-size: .7em;
  line-height: 1.75em;
  display: block;
  width: 200px;
  position: absolute;
  left: 25px;
  bottom: 5px;
  border: 1px solid #B8B8B8;
  padding: 10px;
  background-color: #fff;
  z-index: 100;
  overflow: auto;
  margin: 0 0 0 0; }

/*-----About Page Things-----*/
.about {
  padding: 100px 0 0 0; }
  .about h1 {
    margin-top: 0px; }

/*-----Footer Things-----*/
footer {
  border-top: 1px solid #B8B8B8;
  background-color: #ECE8E8; }
  footer p {
    max-width: 640px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    font-size: .8em; }

/*-----Stuff That Makes The Animations Work-----*/
/*-Stuff That Makes the Page Fade In-*/
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/*-----Stuff That Makes the Site Look Good on Very Big or Very Small Screens-----*/
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    margin-top: 50px; }

  p {
    font-size: .9em; }

  .about {
    padding: 50px 0 0 0; }
    .about h1 {
      margin-top: 50px; } }
@media (max-width: 400px) {
  nav a {
    margin: 0 100px 0 100px;
    line-height: 2em; } }
