/*styles.css*/

/*-----Variables & Mixins-----*/

/*Fonts*/
$body-font-stack: "Open Sans", Helvetica, Arial, sans-serif;
$header-font-stack: "Lato", Helvetica, Arial, sans-serif;

/*Background & Container Colors*/
$background-color: #FDFDFD;
$light-grey: #B8B8B8;
$very-light-grey: #ECE8E8;

/*Text Colors*/
$primary-font-color: #585858;

/*Link Colors*/
$link-color: #111111;
$link-hover-color: #3F6DE3;
$sticky-note-magenta: #CC2F6E;
$sticky-note-green: #79BA50;
$sticky-note-blue: #07A4B0;
$sticky-note-orange: #E89530;

/*Styles*/
$link-underline: 1px solid rgba(107,107,107,.4);

/*Animations & Transitions*/
//Makes it so that the page fades in all smooth like.
@mixin fadein($time){
	-webkit-animation: fadein $time;
	-o-animation: fadein $time;
	-moz-animation: fadein $time;
	-ms-animation: fadein $time;
	animation: fadein $time;
}

//Makes it so that elements change all smooth like.
@mixin ease-in-out($time){
	-o-transition: $time ease-in-out;
  	-ms-transition: $time ease-in-out;
  	-moz-transition: $time ease-in-out;
  	-webkit-transition: $time eas e-in-out;
  	transition: $time ease-in-out;
}

/*-----Normal, Boring Stuff-----*/

body{
	color: #585858;
	font-family: $body-font-stack;
	font-size:100%;
	background: #FDFDFD;
	background-size: cover;
	@include fadein(3s);
}

h1{
	font-weight: 800;
	font-family: $header-font-stack;
	line-height: 50px;
	height:50px;
	font-size: 2.25em;
	margin:150px 0 40px 0;
	@include ease-in-out(.2s);
}

p{
	font-size: 1em;
	font-weight: 400;
	margin:0 0 30px 0;
	line-height: 1.75em;
	@include ease-in-out(.2s);
}

/*-----Links-----*/

a{
	color: $link-color;
	text-decoration: none;
	font-weight:400;
	@include ease-in-out(.1s);
  	border-bottom: $link-underline;
}

a:hover{
	color: $sticky-note-blue;
	border-bottom: 1px solid $sticky-note-blue;
}

a:focus{
	color: $sticky-note-blue;
	border-bottom: 1px solid $sticky-note-blue;
}

a.blue:hover{
			color: $sticky-note-blue;
			border-bottom: 1px solid $sticky-note-blue;
		}

a.green:hover{
	color: $sticky-note-green;
	border-bottom: 1px solid $sticky-note-green;
}

a.orange:hover{
	color: $sticky-note-orange;
	border-bottom: 1px solid $sticky-note-orange;
}

a.magenta:hover{
	color: $sticky-note-magenta;
	border-bottom: 1px solid $sticky-note-magenta;
}

a.blue:focus{
	color: $sticky-note-blue;
	border-bottom: 1px solid $sticky-note-blue;
}

a.green:focus{
	color: $sticky-note-green;
	border-bottom: 1px solid $sticky-note-green;
}

a.orange:focus{
	color: $sticky-note-orange;
	border-bottom: 1px solid $sticky-note-orange;
}

a.magenta:focus{
	color: $sticky-note-magenta;
	border-bottom: 1px solid $sticky-note-magenta;
}

/*-----Header Things (One Day)-----*/
/*-----Things for the Part Where I Introduce Myself (Also Does Not Exist Yet)-----*/

/*-----Home Page Things-----*/

.homePageContent{
	max-width:640px;
	margin:auto;
	padding-bottom: 50px;
}

/*-----Things for the Big Picture That Starts Most Pages (Coming Soon)-----*/

/*-----Write-y Things----*/

section{
	max-width: 640px;
	margin: auto;
}

.textSection{
	margin-bottom:75px;
}

#littleGuy{
	max-width:120px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.imageSection{
	@extend .textSection;
	max-width:1000px;

	img{
		width:100%;
	}

	p{
		font-size: .8em;
		max-width: 640px;
		margin:auto;
		margin-top: 10px;
		text-align: center;
	}
}

.notesSection{
	//Appropriated a little bit for the cover page.

	font-size:.8em;
	// border-top:1px solid $light-grey;
	// padding-top:50px;
}

/*-----Footnotes-----*/

.footnote{
	position: relative;
	vertical-align: baseline;
}

.footnoteNumber{
	vertical-align: super;
	font-size:.7em;
	color: $link-color;
	position: relative;
    cursor: pointer;
    border-bottom: $link-underline
}

.footnoteText{
    font-size: .7em;
    line-height: 1.75em;
    display: block;
    width: 200px;
    position: absolute;
    left: 25px;
    bottom: 5px;
    border: 1px solid $light-grey;
    padding: 10px;
    background-color: #fff;
    z-index: 100;
    overflow: auto;
    margin:0 0 0 0;
}

/*-----About Page Things-----*/

.about{
	padding: 100px 0 0 0;

	h1{
		margin-top: 0px;
	}
}

/*-----Footer Things-----*/

footer{
	border-top: 1px solid $light-grey;
	background-color: $very-light-grey;

	p{
		max-width: 640px;
		margin:auto;
		text-align: center;
		line-height: 50px;
		font-size: .8em;
	}
}

/*-----Stuff That Makes The Animations Work-----*/
/*-Stuff That Makes the Page Fade In-*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*-----Stuff That Makes the Site Look Good on Very Big or Very Small Screens-----*/

@media (max-width:768px){
	h1{
		font-size: 2em;
		margin-top:50px;
	}
	p{
		font-size: .9em;
	}
	.about{
		padding:0 0 0 0;

		h1{
		margin-top: 50px;
		}
	}
}